<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Options</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>oba_optimize_for</string>
			<key>Title</key>
			<string>Prefer</string>
			<key>Titles</key>
			<array>
				<string>Best Route</string>
				<string>Fastest Route</string>
				<string>Fewer Transfers</string>
				<string>Less Walking</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Note: Your last active screen will be shown on start if the app has been used within the last 15 minutes.</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Advanced</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutoCorrectionType</key>
			<string>Default</string>
			<key>DefaultValue</key>
			<string>soak-api.onebusaway.org</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>oba_api_server</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>API Server</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>The name of the server the app will use for accessing transit data</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.0</string>
			<key>Key</key>
			<string>oba_application_version</string>
			<key>Title</key>
			<string>Application Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
